﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Formula 1 Statistical Data Analysis</title>
    <link rel="stylesheet" href="~/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://unpkg.com/d3-regression@1.3.9/dist/d3-regression.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/script.js")"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
