﻿@using Formula1StatisticalAnalysis.ViewModels
@using Formula1StatisticalAnalysis.Models
@model ChampionshipVM
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home/Index">Home</a>
    </li>
    <li class="nav-item" aria-current="page">
        <a class="nav-link active" aria-current="page" href="/home/Championship">Championships in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/GrandPrix">Races in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/DriverRatings">Driver Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/LapTimePrediction">Lap time prediction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Failures">Causing of DNFs</a>
    </li>
</ul>
<h1></h1>
<label class="form-label" style="font-size: 25px">
    In this page you can look further into Formula 1 driver standings by selecting the year and the range of rounds which you want to investigate more. On the visualization below you will see the result of the driver standings by how much points do they collected in the selected rounds. Below the visualization you can see the final data in table as well.
</label>
<form method="post" action="/Home/Championship">
    <div class="form-group">
        <h1></h1>
        <label for="customRange2" class="form-label">Select year</label>
        <select name="year" class="form-select" aria-label="select example" id="yearSelection">
            @foreach (int year in Model.Years)
            {
                if (year != Model.SelectedYear)
                {
                    <option value="@year">@year</option>
                }
                else
                {
                    <option selected value="@Model.SelectedYear">@Model.SelectedYear</option>
                }
            }
        </select>
    </div>
    @{
        int i = 0;
        while (Model.Years.ToArray()[i] != Model.SelectedYear)
        {
            i++;
        }
    }
    <div class=" form-group">
        <h1></h1>
        <label for="customRange2" class="form-label">Select the range of rounds: <p id="selectedRound" style="display:inline"></p></label>
        @if (Model.SelectedRounds.Contains(0))
        {
            <input type="range" name="round1" class="form-range" value="1" min="1" max="@Model.RoundsByYears.ToArray()[i]" id="Rounds1">
            <input type="range" name="round2" class="form-range" value="@Model.RoundsByYears.ToArray()[i]" min="1" max="@Model.RoundsByYears.ToArray()[i]" id="Rounds2">
        }
        else
        {
            <input type="range" name="round1" class="form-range" value="@Model.SelectedRounds.First()" min="1" max="@Model.RoundsByYears.ToArray()[i]" id="Rounds1">
            <input type="range" name="round2" class="form-range" value="@Model.SelectedRounds.Last()" min="1" max="@Model.RoundsByYears.ToArray()[i]" id="Rounds2">
        }
    </div>
    <input type="submit" class="btn btn-primary" value="Select" />
</form>
<h1></h1>
<div id="label" style="text-align: center;">
    <b>
        <label for="viz" class="form-label">@Model.SelectedYear Driver Standings: </label>
        @if (Model.SelectedRounds.Contains(0))
        {
            <label for="viz" class="form-label">from round 1 to @Model.RoundsByYears.ToArray()[i]</label>
        }
        else
        {
            <label for="viz" class="form-label">from round @Model.SelectedRounds.First() to @Model.SelectedRounds.Last()</label>
        }
    </b>
</div>
<div id="viz"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Championships.First().DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Championships.First().Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Championship ch in Model.Championships)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ch.DriverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ch.Points)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var pointerX = -1;
    var pointerY = -1;
    document.addEventListener("mousemove", () => {
        pointerX = event.clientX;
        pointerY = event.clientY;
    });

    if (+document.getElementById("Rounds2").value < +document.getElementById("Rounds1").value) {
        document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds2").value + " - " + document.getElementById("Rounds1").value;
    }
    else {
        document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds1").value + " - " + document.getElementById("Rounds2").value;
    }

    document.getElementById("Rounds1").oninput = function () {

        if (+document.getElementById("Rounds2").value < +document.getElementById("Rounds1").value) {
            document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds2").value + " - " + document.getElementById("Rounds1").value;
        }
        else {
            document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds1").value + " - " + document.getElementById("Rounds2").value;
        }
    }

    document.getElementById("Rounds2").oninput = function () {

        if (+document.getElementById("Rounds2").value < +document.getElementById("Rounds1").value) {
            document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds2").value + " - " + document.getElementById("Rounds1").value;
        }
        else {
            document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds1").value + " - " + document.getElementById("Rounds2").value;
        }
    }

    @{
        int[] years = Model.Years.ToArray();
        int[] roundsByYears = Model.RoundsByYears.ToArray();
    }
    var yearsData = @Html.Raw(Json.Serialize(years));
    var roundsData = @Html.Raw(Json.Serialize(roundsByYears));
    var yearsAndRounds = [];
    for (var i = 0; i < yearsData.length; i++) {
        yearsAndRounds.push({ year: yearsData[i], rounds: roundsData[i] });
    }

    document.getElementById("yearSelection").onchange = function () {
        var i = 0;
        while (document.getElementById("yearSelection").value != yearsAndRounds[i].year) {
            i = i + 1;
        }
        if (document.getElementById("Rounds2").value > yearsAndRounds[i].rounds) {
            document.getElementById("Rounds2").value = yearsAndRounds[i].rounds;
        }
        document.getElementById("Rounds2").max = yearsAndRounds[i].rounds;
        document.getElementById("Rounds1").max = yearsAndRounds[i].rounds;
        if (+document.getElementById("Rounds2").value < +document.getElementById("Rounds1").value) {
            document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds2").value + " - " + document.getElementById("Rounds1").value;
        }
        else {
            document.getElementById("selectedRound").innerHTML = document.getElementById("Rounds1").value + " - " + document.getElementById("Rounds2").value;
        }
    }

    @{
        double[] points = Model.GetPoints();
        string[] names = Model.GetDriverNames();
    }
    var data = @Html.Raw(Json.Serialize(points));
    var names = @Html.Raw(Json.Serialize(names));
    var bardata = [];
    for (var i = 0; i < data.length; i++) {
        bardata.push({ index: i, value: data[i], name: names[names.length - i - 1] });
    }
    var margin = { top: 20, right: 0, bottom: 20, left: 100 },
        height = 600 - margin.top - margin.bottom,
        width = 1300 - margin.left - margin.right,
        barWidth = 50,
        barOffset = 25;

    function is1(number) {
        return (number < 2 ? number + ' point' : number + ' points');
    }
    var xScale = d3.scaleLinear().domain([0, d3.max(data)]).range([0, width]);

    var xAxisValues = d3.scaleLinear().domain([0, d3.max(data)]).range([width, 0]);
    var xAxisTicks = d3.axisBottom(xScale).ticks(10);

    var yAxisValues = d3.scaleBand().domain(d3.range(names.length)).rangeRound([height, 0]).padding(0.1);
    var yAxisTicks = d3.axisLeft(yAxisValues).tickFormat((i) => names[i]);

    var yScale = d3.scaleBand().domain(bardata).paddingInner(.3).paddingOuter(.5).range([0, height])

    var colors = d3.scaleLinear()
        .domain([0, bardata.length * .33, bardata.length * .66, bardata.length])
        .range(['#b58929', '#c61c6f', '#268bd2', '#85992c']);

    var tooltip = d3.select('#viz')
        .append('div')
        .style('opacity', '0')
        .style('background-color', 'white')
        .style('border', 'solid')
        .style('border-width', '2px')
        .style('border-radius', '5px')
        .style('padding', '5px')
        .style('position','absolute');

    var myChart = d3
        .select('#viz').append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.right + ')')
        .selectAll('rect')
        .data(bardata)
        .enter().append('rect')
        .style('fill', function (d, i) {
            return colors(i)
        })
        .attr('height', function (d) {
            return yScale.bandwidth();
        })
        .attr('y', function (d) {
            return yScale(d);
        })
        .attr('width', 0)
        .attr('x', 0)
        .on('mouseover', function (event,d) {
            tooltip
                .style("opacity", 1)
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mousemove', function (event, d) {
            tooltip
                .html((d.index + 1) + ". " + d.name + "</br>" + is1(d.value))
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mouseleave', function (d) {
            tooltip
                .style("opacity", 0)
        });

    var xGuide = d3.select('#viz svg')
        .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + height + ')')
        .call(xAxisTicks)

    var yGuide = d3.select('#viz svg').append('g').attr('transform', 'translate(' + margin.left + ',0)')
        .call(yAxisTicks)

    myChart.transition()
        .attr('width', function (d) {
            return xScale(d.value);
        })
        .delay(function (d, i) {
            return i * 10;
        })
        .duration(1000)
</script>
