﻿@using Formula1StatisticalAnalysis.Models
@model IEnumerable<DriverRatings>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Championship">Championships in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/GrandPrix">Races in dept</a>
    </li>
    <li class="nav-item" aria-current="page">
        <a class="nav-link active" aria-current="page" href="/home/DriverRatings">Driver Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/LapTimePrediction">Lap time prediction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Failures">Causing of DNFs</a>
    </li>
</ul>
<h1></h1>
<label class="form-label" style="font-size: 25px">
    In this page you can see the ranking of all the drivers of Formula 1 by a special measurement, which is detailed below.
</label>
<h1></h1>
<div id="label" style="text-align: center;">
    <b>
        <u>
            <label for="viz" class="form-label" style="font-size: 25px">Top 10 Drivers by this calculation:</label>
        </u>
    </b>
    <br />
    <b>
        <label class="form-label" style="font-size: 30px;color: goldenrod">1. @Model.ToArray()[0].Name</label>
    </b>
    <br />
    <b>
        <label class="form-label" style="font-size: 25px;color: silver">2. @Model.ToArray()[1].Name</label>
    </b>
    <br />
    <b>
        <label class="form-label" style="font-size: 25px;color: chocolate">3. @Model.ToArray()[2].Name</label>
    </b>
    @for (int j = 4; j <= 10; j++)
    {
        <br />
        <label class="form-label" style="font-size: 25px">@j. @Model.ToArray()[j - 1].Name</label>
    }
</div>
<h1></h1>
<label class="form-label" style="font-size: 20px">
    <b>
        The ratings are calculated by the following measurements:
    </b>
</label>
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        FinPosVSNOPart:
    </b>
    Average finishing position commpared to the number of participiants. This measurement shows that the driver finished in the top what percent on average on it's races. This number is between 0 and 1, and the closer is this value to 0, the better it is.
</label>
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        NORaces:
    </b>
    Number of races. This measurement shows how many races did the driver participated in. It is used to weight the other measurements, because it's harder to achieve good results in more races.
</label>
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        AvgFinPos:
    </b>
    Average finishing position. This measurement shows that what position the driver finished it's races on average. The smaller this value is the better.
</label>
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        AvgFinPosVsTM:
    </b>
    Average finishing position commpared to the teammates. This measurement shows that what position the driver finished compared to it's teammates on average. For example if the driver finished in 4th position on a race and their teammate finsihed in 7th position, then this value for that race would be -3. The smaller this number is the better.
</label>
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        AvgFinTimeVsTM:
    </b>
    Average finishing time commpared to the teammates. This measurement shows that how much milliseconds did the driver completed it's races faster compared to it's teammates on average. If this value is negative it means, that the driver completed it's races faster on average than their teammates. The smaller this number is the better.
</label>
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        TMRating:
    </b>
    Average teammate rating. This measurement shows that what is the average rating of the driver's teammates. The teammates' ratings are weighted by how many races were they teammate with the driver. This rating is calculated by the formula below and it's value is maximized in 10, and minimized in 1 for each teammate. This means that this average value will be between 1 and 10, and the closer it is to 10 the better it is for the DriverRating. Also the AvgFinPosVsTM's absolute value is maximized in 2, and the AvgFinTimeVsZM's absolute value is maximized in 2000.
</label>
<img src="~/TMRating.png" style="max-width: 100%" />
<br />
<br />
<label class="form-label" style="font-size: 20px">
    <b>
        DriverRating:
    </b>
    Driver's rating. This measurement gives us the result. It is using the same formula as the TMRating with the addition of the TMRating itself for weighting the AvgFinPosVsTM and AvgFinTimeVsTM measurements. Also the DriverRating's value is not maximized or minimized. The higher this value is the better.
</label>
<img src="~/DriverRating.png" style="max-width: 100%" />
<br />
<br />
<div id="label" style="text-align: center;">
    <b>
        <u>
            <label for="viz" class="form-label" style="font-size: 25px">Details:</label>
        </u>
    </b>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TMRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgFinPos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NORaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgFinPosVsTM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgFinTimeVsTM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinPosVSNOPart)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            <tr>
                <td>
                    <label>@i.</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TMRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgFinPos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NORaces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgFinPosVsTM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgFinTimeVsTM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinPosVSNOPart)
                </td>
            </tr>
        }
    </tbody>
</table>
