﻿@using Formula1StatisticalAnalysis.Models
@using Formula1StatisticalAnalysis.ViewModels
@model FailuresVM
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Championship">Championships in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/GrandPrix">Races in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/DriverRatings">Driver Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/LapTimePrediction">Lap time prediction</a>
    </li>
    <li class="nav-item" aria-current="page">
        <a class="nav-link active" aria-current="page" href="/home/Failures">Causing of DNFs</a>
    </li>
</ul>
<h1></h1>
<label class="form-label" style="font-size: 25px">
    In this page you can see what was the causes for technical failures and in what rate for each year of Formula 1. You can select the year by the dropdown list, and after you press the select button on the visualization you will see the amount of the failures and it's rate represented by the pie chart. If you hover your cursor above a pie, then you will see the name of the failure and in what percentage was it represented by the selected year. Beow the visualization you can see these information in table.
</label>
<form method="post" action="/Home/Failures">
    <div class="form-group">
        <h1></h1>
        <label for="customRange2" class="form-label">Select year</label>
        <select name="year" class="form-select" aria-label="select example">
            @foreach (int year in Model.Years)
            {
                if (year != Model.SelectedYear)
                {
                    <option value="@year">@year</option>
                }
                else
                {
                    <option selected value="@Model.SelectedYear">@Model.SelectedYear</option>
                }
            }
        </select>
    </div>
    <h1></h1>
    <input type="submit" class="btn btn-primary" value="Select" />
</form>
<h1></h1>
<div id="label" style="text-align: center;">
    <b>
        <label for="viz" class="form-label">Failures in @Model.SelectedYear</label>
    </b>
</div>
<div id="viz"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Failures.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Failures.First().Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Failure fail in Model.Failures)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fail.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fail.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var pointerX = -1;
    var pointerY = -1;
    document.addEventListener("mousemove", () => {
        pointerX = event.clientX;
        pointerY = event.clientY;
    });
    @{
        string[] statuses = new string[Model.Failures.Count()];
        int[] quantities = new int[Model.Failures.Count()];
        int i = 0;
        int sum = 0;
        foreach (var item in Model.Failures)
        {
            statuses[i] = item.Status;
            sum = sum + item.Quantity;
            quantities[i++] = item.Quantity;
        }
    }

    var margin = { top: 20, right: 20, bottom: 20, left: 20 },
        height = 600 - margin.top - margin.bottom,
        width = 1300 - margin.left - margin.right,
        radius,
        svg,
        bardata = [],
        statuses,
        quantities,
        sum,
        pie,
        data_ready,
        label,
        arc,
        color;

    var tooltip = d3.select('#viz')
        .append('div')
        .style('opacity', '0')
        .style('background-color', 'white')
        .style('border', 'solid')
        .style('border-width', '2px')
        .style('border-radius', '5px')
        .style('padding', '5px')
        .style('position', 'absolute');

    radius = Math.min(width, height) / 2 - margin.left

    svg = d3.select("#viz")
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    statuses = @Html.Raw(Json.Serialize(statuses));
    quantities = @Html.Raw(Json.Serialize(quantities));
    sum = @Html.Raw(Json.Serialize(sum));
    for (var i = 0; i < quantities.length; i++) {
        bardata.push({ status: statuses[i], quantity: (quantities[i] / sum * 100), qty: quantities[i]});
    }

    color = d3.scaleOrdinal()
        .domain([bardata])
        .range(['#b58929', '#c61c6f', '#268bd2', '#85992c']);

    pie = d3.pie()
        .value(function (d) { return d.quantity; });
    data_ready = pie(bardata);

    svg
        .selectAll('arc')
        .data(data_ready)
        .enter()
        .append('path')
        .attr('d', d3.arc()
            .innerRadius(0)
            .outerRadius(radius)
    )
        .attr("stroke", "black")
        .style("stroke-width", "2px")
        .style("opacity", 0.7)
        .attr("fill", function (d) {
            return color(d);
        })
        .on('mouseover', function (event, d) {
            tooltip
                .style("opacity", 1)
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mousemove', function (event, d) {
            tooltip
                .html('<b>' + d.data.status + '</b></br>' + (Math.floor(d.value * 100) / 100) + '%')
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mouseleave', function (d) {
            tooltip
                .style("opacity", 0)
        });

    label = d3.arc()
        .innerRadius(radius / 2)
        .outerRadius(radius);

    svg
        .selectAll('arc')
        .data(data_ready)
        .enter()
        .append("text")
        .attr("transform", function (d) {
            return "translate(" + label.centroid(d) + ")";
        })
        .text(function (d) { return d.data.qty; })
        .style("font-size", 25);

</script>
