﻿@using Formula1StatisticalAnalysis.ViewModels
@using Formula1StatisticalAnalysis.Models
@using System.Web.Helpers
@model GrandPrixVM
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Championship">Championships in dept</a>
    </li>
    <li class="nav-item" aria-current="page">
        <a class="nav-link active" aria-current="page" href="/home/GrandPrix">Races in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/DriverRatings">Driver Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/LapTimePrediction">Lap time prediction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Failures">Causing of DNFs</a>
    </li>
</ul>
<h1></h1>
<label class="form-label" style="font-size: 25px">
    In this page you can look further into Formula 1 races by selecting the year and the round number (these will identify the race itself) and then selecting a range of laps which you want to investigate more. On the visualization below you will see the result of the drivers by how fast they completed the selected laps, and how much time they were slower than the driver who completed it the fastest. Below the visualization you can see the final data in table as well.
</label>
<form method="post" action="/Home/GrandPrix">
    <div class="form-group">
        <h1></h1>
        <label for="yearSelection" class="form-label">Select year</label>
        <select name="year" class="form-select" aria-label="select example" onchange="getRounds(); getLaps();" id="yearSelection">
            @foreach (int year in Model.Years)
            {
                if (year != Model.SelectedYear)
                {
                    <option value="@year">@year</option>
                }
                else
                {
                    <option selected value="@Model.SelectedYear">@Model.SelectedYear</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <h1></h1>
        <label for="roundSelection" class="form-label">Select round</label>
        <select name="round" class="form-select" aria-label="select example" id="roundSelection" onchange="getLaps()">
            @foreach (GrandPrixInfo gpInfo in Model.GrandPrixInfosByRaces)
            {
                if (gpInfo.Year == Model.SelectedYear)
                {
                    if (gpInfo.Round != Model.SelectedRound)
                    {
                        <option value="@gpInfo.Round">[Round @gpInfo.Round] @gpInfo.Name</option>
                    }
                    else
                    {
                        <option selected value="@gpInfo.Round">[Round @gpInfo.Round] @gpInfo.Name</option>
                    }
                }
            }
        </select>
    </div>
    <div class=" form-group">
        <h1></h1>
        <label for="lapSelection" class="form-label">Select the range of laps: <p id="selectedLaps" style="display:inline"></p></label>
        @{
            int i = 0;
            while (Model.GrandPrixInfosByRaces.ToArray()[i].Year != Model.SelectedYear || Model.GrandPrixInfosByRaces.ToArray()[i].Round != Model.SelectedRound)
            {
                i++;
            }
        }
        @if (Model.SelectedLaps.Contains(0))
        {
            <input type="range" name="laps1" class="form-range" value="1" min="1" max="@Model.GrandPrixInfosByRaces.ToArray()[i].NOLaps" id="Laps1">
            <input type="range" name="laps2" class="form-range" value="@Model.GrandPrixInfosByRaces.ToArray()[i].NOLaps" min="1" max="@Model.GrandPrixInfosByRaces.ToArray()[i].NOLaps" id="Laps2">
        }
        else
        {
            <input type="range" name="laps1" class="form-range" value="@Model.SelectedLaps.First()" min="1" max="@Model.GrandPrixInfosByRaces.ToArray()[i].NOLaps" id="Laps1">
            <input type="range" name="laps2" class="form-range" value="@Model.SelectedLaps.Last()" min="1" max="@Model.GrandPrixInfosByRaces.ToArray()[i].NOLaps" id="Laps2">
        }
    </div>
    <input type="submit" id="btn_click" class="btn btn-primary" value="Select" />
</form>
<h1></h1>
<div id="label" style="text-align: center;">
    <b>
        <label for="viz" class="form-label">Pace of drivers: </label>
        <label for="viz" class="form-label">@Model.SelectedYear,</label>
        @foreach (GrandPrixInfo gpInfo in Model.GrandPrixInfosByRaces)
        {
            if (gpInfo.Year == Model.SelectedYear && gpInfo.Round == Model.SelectedRound)
            {
                <label for="viz" class="form-label">@gpInfo.Name (Round @gpInfo.Round), </label>
            }
        }
        @if (Model.SelectedLaps.Contains(0))
        {
            <label for="viz" class="form-label">from lap 1 to @Model.GrandPrixInfosByRaces.ToArray()[i].NOLaps</label>
        }
        else
        {
            <label for="viz" class="form-label">from lap @Model.SelectedLaps.First() to @Model.SelectedLaps.Last()</label>
        }
    </b>
</div>
<div id="viz"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrandPrixes.First().DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandPrixes.First().Time)
            </th>
            <th>
                GapToLeader
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (GrandPrix gp in Model.GrandPrixes)
        {
            <tr>
                <td class="GPdriverName">
                    <span class="name">@Html.DisplayFor(modelItem => gp.DriverName)</span>
                </td>
                <td class="GPtime">
                    @Html.DisplayFor(modelItem => gp.Time)
                </td>
                <td class="GPgapToWinner">
                    @Html.DisplayFor(modelItem => gp.GapToWinner)
                </td>
            </tr>
        }
        @if (Model.GrandPrixes.Count() == 0)
        {
            <tr>
                <td>
                    <label for="customRange2" class="form-label">Sorry, there is no data for Year: @Model.SelectedYear, Round: @Model.SelectedRound in this database. :(</label>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var pointerX = -1;
    var pointerY = -1;
    document.addEventListener("mousemove", () => {
        pointerX = event.clientX;
        pointerY = event.clientY;
    });
    @{
        List<int> infoYears = new List<int>();
        List<int> infoRounds = new List<int>();
        List<string> infoNames = new List<string>();
        List<int> infoLaps = new List<int>();
        foreach (GrandPrixInfo gpInfo in Model.GrandPrixInfosByRaces)
        {
            infoYears.Add(gpInfo.Year);
            infoRounds.Add(gpInfo.Round);
            infoNames.Add(gpInfo.Name);
            infoLaps.Add(gpInfo.NOLaps);
        }

    }

    var infoYears = @Html.Raw(Json.Serialize(infoYears));
    var infoRounds = @Html.Raw(Json.Serialize(infoRounds));
    var infoLaps = @Html.Raw(Json.Serialize(infoLaps));
    var infoNames = @Html.Raw(Json.Serialize(infoNames));
    var infoData = [];
    for (var i = 0; i < infoYears.length; i++) {
        infoData.push({ year: infoYears[i], round: infoRounds[i], name: infoNames[i], noLaps: infoLaps[i] });
    }
    function getRounds() {
        var selectedYear = document.getElementById("yearSelection").value;
        var selectedRound = document.getElementById("roundSelection").value;
        var str = "";
        for (var i = 0; i < infoData.length; i++) {
            if (infoData[i].year == selectedYear) {
                if (infoData[i].round != selectedRound) {
                    str += "<option value=\"" + infoData[i].round + "\">[Round " + infoData[i].round + "] " + infoData[i].name + "</option>"
                }
                else {
                    str += "<option selected value=\"" + infoData[i].round + "\">[Round " + infoData[i].round + "] " + infoData[i].name + "</option>"
                }
            }
        }
        document.getElementById("roundSelection").innerHTML = str;
    }

    function getLaps() {
        var selectedYear = document.getElementById("yearSelection").value;
        var selectedRound = document.getElementById("roundSelection").value;
        for (var i = 0; i < infoData.length; i++) {
            if (infoData[i].year == selectedYear && infoData[i].round == selectedRound) {
                document.getElementById("Laps1").max = infoData[i].noLaps;
                document.getElementById("Laps2").max = infoData[i].noLaps;
                if (+document.getElementById("Laps1").value > infoData[i].noLaps) {
                    document.getElementById("Laps1").value = infoData[i].noLaps;
                }
                if (+document.getElementById("Laps2").value > infoData[i].noLaps) {
                    document.getElementById("Laps2").value = infoData[i].noLaps;
                }
                if (+document.getElementById("Laps2").value < +document.getElementById("Laps1").value) {
                    document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps2").value + " - " + document.getElementById("Laps1").value;
                }
                else {
                    document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps1").value + " - " + document.getElementById("Laps2").value;
                }
            }
        }
    }

    function getLapsStart() {
        var selectedYear = @Html.Raw(Json.Serialize(Model.SelectedYear));
        var selectedRound = @Html.Raw(Json.Serialize(Model.SelectedRound));
        for (var i = 0; i < infoData.length; i++) {
            if (infoData[i].year == selectedYear && infoData[i].round == selectedRound) {
                document.getElementById("Laps1").max = infoData[i].noLaps;
                document.getElementById("Laps2").max = infoData[i].noLaps;
                if (+document.getElementById("Laps1").value > infoData[i].noLaps) {
                    document.getElementById("Laps1").value = infoData[i].noLaps;
                }
                if (+document.getElementById("Laps2").value > infoData[i].noLaps) {
                    document.getElementById("Laps2").value = infoData[i].noLaps;
                }
                if (+document.getElementById("Laps2").value < +document.getElementById("Laps1").value) {
                    document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps2").value + " - " + document.getElementById("Laps1").value;
                }
                else {
                    document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps1").value + " - " + document.getElementById("Laps2").value;
                }
            }
        }
    }

    if (+document.getElementById("Laps2").value < +document.getElementById("Laps1").value) {
        document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps2").value + " - " + document.getElementById("Laps1").value;
    }
    else {
        document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps1").value + " - " + document.getElementById("Laps2").value;
    }

    document.getElementById("Laps1").oninput = function () {

        if (+document.getElementById("Laps2").value < +document.getElementById("Laps1").value) {
            document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps2").value + " - " + document.getElementById("Laps1").value;
        }
        else {
            document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps1").value + " - " + document.getElementById("Laps2").value;
        }
    }

    document.getElementById("Laps2").oninput = function () {

        if (+document.getElementById("Laps2").value < +document.getElementById("Laps1").value) {
            document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps2").value + " - " + document.getElementById("Laps1").value;
        }
        else {
            document.getElementById("selectedLaps").innerHTML = document.getElementById("Laps1").value + " - " + document.getElementById("Laps2").value;
        }
    }
    @{
        double[] times = Model.GetTimes();
        string[] names = Model.GetDriverNames();
        double[] gaps = Model.GetGaps();
    }
    var names = @Html.Raw(Json.Serialize(names));
    var data = @Html.Raw(Json.Serialize(times));
    var gaps = @Html.Raw(Json.Serialize(gaps));
    var bardata = [];
    for (var i = 0; i < data.length; i++) {
        bardata.push({ index: i, value: data[i], name: names[names.length - i - 1], gap: gaps[i]});
    }
    var names = @Html.Raw(Json.Serialize(names));
    var margin = { top: 20, right: 0, bottom: 20, left: 100 },
        height = 600 - margin.top - margin.bottom,
        width = 1300 - margin.left - margin.right,
        barWidth = 50,
        barOffset = 25;

    var xScale = d3.scaleLinear().domain([d3.max(data) / (1.5087732342 - (0.0000000743218135 * d3.max(data))), d3.max(data)]).range([0, width]);

    function smallerThan10(number) {
        return (number < 10 ? '0' + number : number);
    }

    function smallerThan100(number) {
        return (number < 100 ? (number < 10 ? '00' + number : '0' + number) : number);
    }

    function TimeConverter(number) {
        if (Number(number) == 0) {
            return '0';
        }
        else if (Number(number) < 1000) { // smaller than a second
            return '0.' + smallerThan100(number);
        }
        else if (Number(number) < 60000) { // smaller than a minute
            return Math.floor(number / 1000) + '.' + smallerThan100(number % 1000);
        }
        else if (Number(number) < 3600000) { // smaller than an hour
            return Math.floor(number / 60000) + ':' + smallerThan10(Math.floor(number / 1000) % 60) + '.' + smallerThan100(number % 1000);
        }
        else { // bigger than an hour
            return Math.floor(number / 3600000) + ':' + smallerThan10(Math.floor(number / 60000) % 60) + ':' + smallerThan10(Math.floor(number / 1000) % 60) + '.' + smallerThan100(number % 1000);
        }
    }

    var xAxisValues = d3.scaleLinear().domain([d3.max(data) / (1.5087732342 - (0.0000000743218135 * d3.max(data))), d3.max(data)]).range([width, 0]);
    var xAxisTicks = d3.axisBottom(xScale).ticks(10).tickFormat((d) => TimeConverter(d));

    var yAxisValues = d3.scaleBand().domain(d3.range(names.length)).rangeRound([height, 0]).padding(0.1);
    var yAxisTicks = d3.axisLeft(yAxisValues).tickFormat((i) => names[i]);

    var yScale = d3.scaleBand().domain(bardata).paddingInner(.3).paddingOuter(.3).range([0, height])

    var colors = d3.scaleLinear()
        .domain([0, bardata.length * .33, bardata.length * .66, bardata.length])
        .range(['#b58929', '#c61c6f', '#268bd2', '#85992c']);

    var tooltip = d3.select('#viz')
        .append('div')
        .style('opacity', '0')
        .style('background-color', 'white')
        .style('border', 'solid')
        .style('border-width', '2px')
        .style('border-radius', '5px')
        .style('padding', '5px')
        .style('position', 'absolute');

    var myChart = d3
        .select('#viz').append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.right + ')')
        .selectAll('rect').data(bardata)
        .enter().append('rect')
        .style('fill', function (d, i) {
            return colors(i)
        })
        .attr('height', function (d) {
            return yScale.bandwidth();
        })
        .attr('y', function (d) {
            return yScale(d);
        })
        .attr('width', 0)
        .attr('x', 0)
        .on('mouseover', function (event, d) {
            tooltip
                .style("opacity", 1)
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mousemove', function (event, d) {
            tooltip
                .html((d.index + 1) + ". " + d.name + "</br>Gap to leader: " + TimeConverter(d.gap))
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mouseleave', function (d) {
            tooltip
                .style("opacity", 0)
        });

     var xGuide = d3.select('#viz svg').append('g').attr('transform', 'translate(' + margin.left + ',' + height + ')')
         .call(xAxisTicks)
    var yGuide = d3.select('#viz svg').append('g').attr('transform', 'translate(' + margin.left + ',0)')
        .call(yAxisTicks)

    myChart.transition()
        .attr('width', function (d) {
            return xScale(d.value);
        })
        .delay(function (d, i) {
            return i * 10;
        })
        .duration(1000)
</script>
