﻿<ul class="nav nav-tabs">
    <li class="nav-item" aria-current="page">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Championship">Championships in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/GrandPrix">Races in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/DriverRatings">Driver Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/LapTimePrediction">Lap time prediction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Failures">Causing of DNFs</a>
    </li>
</ul>
<h1><a href="/home/Championship">Championships in dept</a></h1>
<label class="form-label" style="font-size: 25px">
    Use this page if you want to look further into Formula 1's Driver Standings by years and rounds.
</label>
<h1><a href="/home/GrandPrix">Races in dept</a></h1>
<label class="form-label" style="font-size: 25px">
    Use this page if you want to look further into Formula 1's Races even with the ability to select by laps.
</label>
<h1><a href="/home/DriverRatings">DriverRatings</a></h1>
<label class="form-label" style="font-size: 25px">
    There you can see a ranking of all the drivers of Formula 1 by a custom, detailed measurement.
</label>
<h1><a href="/home/LapTimePrediction">Lap time prediction</a></h1>
<label class="form-label" style="font-size: 25px">
    You can see by each circuit which Formula 1 raced on that what can be the expected lap times on a race in these.
</label>
<h1><a href="/home/Failures">Causing of DNFs</a></h1>
<label class="form-label" style="font-size: 25px">
    See the technical issues what drivers faced most in the years of Formula 1.
</label>
