﻿@using Formula1StatisticalAnalysis.ViewModels
@using Formula1StatisticalAnalysis.Models
@model LapTimePredictionVM
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Championship">Championships in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/GrandPrix">Races in dept</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/DriverRatings">Driver Ratings</a>
    </li>
    <li class="nav-item" aria-current="page">
        <a class="nav-link active" aria-current="page" href="/home/LapTimePrediction">Lap time prediction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/Failures">Causing of DNFs</a>
    </li>
</ul>
<h1></h1>
<label class="form-label" style="font-size: 25px">
    In this page you can see what can be the expected lap times by lap numbers for a race in each of the tracks, that Formula 1 raced on. You can select the track by the dropdown list, and when you press the 'Select' button, then you will see the result on the viszualization by the blue line. The lap times, which were used for the caluclation are represented by the dots. If you hover your cursor to the dots or the line, a tooltip will show you the lap number, and the lap time which it's represent. Below the visualization you can see the predicted lap times in table.
</label>
<form method="post" action="/Home/LapTimePrediction">
    <div class="form-group">
        <h1></h1>
        <label for="customRange2" class="form-label">Select a circuit</label>
        <select name="circuitID" class="form-select" aria-label="select example">
            @{
                int i = 0;
                int selectedI = 0;
            }
            @foreach (Circuit circuit in Model.Circuits)
            {
                if (circuit.CircuitID != Model.SelectedCircuitID)
                {
                    <option value="@circuit.CircuitID">[@circuit.Country, @circuit.Location] @circuit.Name</option>
                }
                else
                {
                    selectedI = i;
                    <option selected value="@circuit.CircuitID">[@circuit.Country, @circuit.Location] @circuit.Name</option>
                }
                i++;
            }
        </select>
    </div>
    <h1></h1>
    <input type="submit" class="btn btn-primary" value="Select" />
</form>
<h1></h1>
<div id="label" style="text-align: center;">
    <b>
        <label for="viz" class="form-label">Lap time prediction for @Model.Circuits.ToArray()[selectedI].Name</label>
    </b>
</div>
<div id="viz"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LapTimePredictions.First().Lap)
            </th>
            <th>
                Predicted time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (LapTimePrediction lp in Model.LapTimePredictions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => lp.Lap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => lp.Time)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var pointerX = -1;
    var pointerY = -1;
    document.addEventListener("mousemove", () => {
        pointerX = event.clientX;
        pointerY = event.clientY;
    });

    @{
        double[] millis = Model.GetMilliseconds();
        double[] laps = Model.GetLaps();
        string[] times = Model.GetTimesForAxis();
        int[] lpLaps = Model.GetLapTimePredictionLaps();
        double[] lpMillis = Model.GetLapTimePredictions();
    }
    var millis,
        laps,
        lpLaps,
        lpMillis,
        times,
        linedata = [],
        bardata = [],
        margin = { top: 20, right: 0, bottom: 20, left: 100 },
        height = 600 - margin.top - margin.bottom,
        width = 1300 - margin.left - margin.right,
        barWidth = 50,
        barOffset = 25,
        xScale,
        yScale,
        xAxisValues,
        yAxisValues,
        xAxisTicks,
        yAxisTicks,
        colors,
        myChart,
        line,
        xGuide,
        yGuide;

    millis = @Html.Raw(Json.Serialize(millis));
    laps = @Html.Raw(Json.Serialize(laps));
    lpLaps = @Html.Raw(Json.Serialize(lpLaps));
    lpMillis = @Html.Raw(Json.Serialize(lpMillis));
    times = @Html.Raw(Json.Serialize(times));

    for (var i = 0; i < millis.length; i++) {
        bardata.push({ index: i, milli: millis[i], lap: laps[i] });
    }

    for (var i = 0; i < lpMillis.length - 1; i++) {
        linedata.push({ index: i, y1: lpMillis[i], x1: lpLaps[i], y2: lpMillis[i+1], x2: lpLaps[i+1] });
    }

    function smallerThan10(number) {
        return (number < 10 ? '0' + number : number);
    }

    function smallerThan100(number) {
        return (number < 100 ? (number < 10 ? '00' + Math.floor(number / 1) : '0' + Math.floor(number / 1)) : Math.floor(number / 1));
    }

    function TimeConverter(number) {
        if (Number(number) == 0) {
            return '0';
        }
        else if (Number(number) < 1000) { // smaller than a second
            return '0.' + smallerThan100(number);
        }
        else if (Number(number) < 60000) { // smaller than a minute
            return Math.floor(number / 1000) + '.' + smallerThan100(number % 1000);
        }
        else if (Number(number) < 3600000) { // smaller than an hour
            return Math.floor(number / 60000) + ':' + smallerThan10(Math.floor(number / 1000) % 60) + '.' + smallerThan100(number % 1000);
        }
        else { // bigger than an hour
            return Math.floor(number / 3600000) + ':' + smallerThan10(Math.floor(number / 60000) % 60) + ':' + smallerThan10(Math.floor(number / 1000) % 60) + '.' + smallerThan100(number % 1000);
        }
    }

    function smaller(millis, lpMillis) {
        return (d3.min(millis) < d3.min(lpMillis) ? d3.min(millis) - 1000 : d3.min(lpMillis) - 1000);
    }

    function bigger(millis, lpMillis) {
        return (d3.max(millis) > d3.max(lpMillis) ? d3.max(millis) + 1000 : d3.max(lpMillis) + 1000);
    }

    xScale = d3.scaleLinear().domain([0, d3.max(laps)]).range([margin.left, width - margin.left]);

    xAxisValues = d3.scaleLinear().domain([0, d3.max(laps)]).range([margin.left, width - margin.left]);
    xAxisTicks = d3.axisBottom(xAxisValues).ticks(d3.max(laps) - 2);

    yAxisValues = d3.scaleLinear().domain([smaller(millis, lpMillis), bigger(millis, lpMillis)]).range([height - margin.top, margin.bottom]);
    yAxisTicks = d3.axisLeft(yAxisValues).ticks(15).tickFormat((d) => TimeConverter(d));

    yScale = d3.scaleLinear().domain([smaller(millis, lpMillis), bigger(millis, lpMillis)]).range([height - margin.top, margin.bottom]);

    colors = d3.scaleLinear()
        .domain([d3.min(millis), d3.max(millis)])
        .range(['#c61c6f', '#268bd2']);

    var tooltip = d3.select('#viz')
        .append('div')
        .style('opacity', '0')
        .style('background-color', 'white')
        .style('border', 'solid')
        .style('border-width', '2px')
        .style('border-radius', '5px')
        .style('padding', '5px')
        .style('position', 'absolute');

    var tooltipLP = d3.select('#viz')
        .append('div')
        .style('opacity', '0')
        .style('background-color', 'white')
        .style('color', '#268bd2')
        .style('font-weight', 'bold')
        .style('border', 'solid')
        .style('border-width', '2px')
        .style('border-radius', '5px')
        .style('padding', '5px')
        .style('position', 'absolute');

    myChart = d3
        .select('#viz').append('svg')
        .attr('width', width)
        .attr('height', height)
        .selectAll('circle').data(bardata)
        .enter().append('circle')
        .style('fill', function (d, i) {
            return colors(d.milli);
        })
        .attr('cx', function (d) {
            return xScale(d.lap);
        })
        .attr('cy', function (d) {
            return yScale(d.milli);
        })
        .attr('r', 0)
        .on('mouseover', function (event, d) {
            tooltip
                .style("opacity", 1)
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mousemove', function (event, d) {
            tooltip
                .html('Lap ' + d.lap + '</br>' + TimeConverter(d.milli))
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mouseleave', function (d) {
            tooltip
                .style("opacity", 0)
        });

    line = d3.select('#viz svg')
        .selectAll('line').data(linedata)
        .enter().append('line')
        .attr('x1', function (d) {
            return xScale(d.x1);
        })
        .attr('y1', function (d) {
            return yScale(d.y1);
        })
        .attr('x2', function (d) {
            return xScale(d.x2);
        })
        .attr('y2', function (d) {
            return yScale(d.y2);
        })
        .style('stroke', '#268bd2')
        .style('stroke-width', '4px')
        .on('mouseover', function (event, d) {
            tooltipLP
                .style("opacity", 1)
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mousemove', function (event, d) {
            tooltipLP
                .html('Lap ' + d.x1 + '</br>Predicted time: ' + TimeConverter(d.y1))
                .style("left", (pointerX + document.documentElement.scrollLeft + 10) + "px")
                .style("top", (pointerY + document.documentElement.scrollTop + 10) + "px")
        })
        .on('mouseleave', function (d) {
            tooltipLP
                .style("opacity", 0)
        });

    myChart.transition()
        .attr('r', 4)
        .duration(500)

    line.transition()
        .attr('x2', function (d) {
            return xScale(d.x2);
        })
        .attr('y2', function (d) {
            return yScale(d.y2);
        })
        .duration(10)
        .delay(function (d, i) {
            return i * 10;
        })

    xGuide = d3.select('#viz svg').
        append('g')
        .attr('transform', 'translate(0,' + (height - margin.top) + ')')
        .call(xAxisTicks)

    yGuide = d3.select('#viz svg')
        .append('g')
        .attr('transform', 'translate(' + margin.left + ',0)')
        .call(yAxisTicks)

</script>
